<div class="container">
    <div class="row">
        <div class="col-md-6">
            <video id="video" autoplay controls>La video n'est pas disponible!</video>
        </div> 
        <div class="col-md-4">
            <video id="vid2"></video>
        </div>
    </div>
</div>


<div class="container">
   <div class="form-group col-md-6">
        <form #myForm="ngForm" (ngSubmit)="fakeUpload($event)">
            <div class="form-group">
            <label for="exampleInputEmail1">Titre</label>
            <input type="text" class="form-control" name="title" id="exampleInputEmail1" #ref_title="ngModel" required [(ngModel)]="title" aria-describedby="emailHelp" placeholder="Entrer un titre, plus de 5 caracteres" ngModel>
            <small id="emailHelp" class="form-text" *ngIf="filename">{{ this.filename }}</small>
            <small id="emailHelp" class="form-text text-muted" *ngIf="!filename">The recorded file will be automatically uploaded after the record process.</small>
            </div>
            <div class="form-group">
                <label for="username" ></label>

                <label for="username">Description</label>
            <textarea class="form-control"
            [(ngModel)]="description"
                id="exampleTextarea"
                rows="3"  
                #ref_loc_description="ngModel"  
                name="description" 
                placeholder="description here, at least 10 characters" 
                required 
                minlength="10"
                ngModel
                >
            </textarea>

            <div class="row mt-2">
                <div class="col-md-4">
                    <button type="button" class="btn btn-danger form-control" [disabled]="myForm.invalid" id="btnStart">
                        Record
                    </button>
                </div>
                &nbsp;
                <div class="col-md-7">
                    <button type="button" class="btn btn-primary form-control" [disabled]="myForm.invalid" id="btnStop" >
                        Stop record And Upload
                    </button>
                </div>
            </div>
            </div>
        </form>
   </div>
</div>
<!-- <app-video2></app-video2> -->

<div style="text-align:center" class="container">
    <h4>
      Basic Pagination
    </h4>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of videosList | paginate: config">
          <th scope="row">{{ item.video_id }}</th>
          <td>{{ item.video_title }}</td>
          <td>{{ item.video_description }}</td>
          <td><a class="btn btn-outline-primary" href="{{ item.video_file_location }}">download</a></td>
        </tr>
      </tbody>
    </table>
  
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  
</div>