<div class="container">

    <div class="card">
        <div class="card-header">
            
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">New Event
                <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/>
                </svg>
            </button>
        </div>
        <div class="card-body">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">premier evenement</li>
                <li class="list-group-item">Second evenement</li>
                <li class="list-group-item">troisieme evenement</li>
                <li class="list-group-item">quatrieme evenement</li>
                <li class="list-group-item">cinquieme evenement</li>
              </ul>

        </div>
        <div class="card-footer">
            Nous avons 5 evenements
        </div>
    </div>
</div>



<app-new-event></app-new-event>



  